.no-products-div > h3 {
  width: 100%;
  font-family: Montserrat-Regular;
  color: #aaa;
  text-align: center;
  font-size: 30px;
  margin: 100px auto 100px auto;
}
.edit-products-modal-body {
  width: 100%;
  font-family: Montserrat-Regular;
  color: #333333;
  font-size: 15px;
  text-align: center;
  line-height: normal;
  vertical-align: top;
  text-align: left;
  display: inline-block;
  font-weight: 400;
  overflow-wrap: break-word;
  box-sizing: border-box;
  padding: 20px;
}

.modal-err-msg {
  color: #a0220f;
  text-align: center;
  font-size: 14px;
}

